.card {
  display: inline-block;
  background-color: white;
  border-radius: 2px;
  padding: 30px;
  margin-top: 10px;
  animation: fadeInUp 1s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-list-item {
  flex: 1 1 30%;
  padding: 0;
  margin: 5px;
}

.card-list-item-figure {
  width: 100%;
  overflow: hidden;
}

.card-list-item-figure > img {
  transition: transform 1s ease;
  width: 100%;
  /* Avoid flickering */
  backface-visibility: hidden;
}

.card-list-item-figure:hover > img {
  transform: scale(1.25) rotateZ(-5deg);
}

.card-list-item-figure > img {
  max-width: 100%;
  vertical-align: middle;
}

.card-list-item-body {
  padding: 30px;
}
