.card {
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  padding: 30px;
  margin-top: 26px;
  animation: fadeInUp 1s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
  margin-bottom: 4px;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 6px -20px -20px -20px;
}

.card-list-item {
  flex: 0 0 calc(33.33% - 40px);
  padding: 0;
  margin: 20px;
}

@media (max-width: 1024px) {
  .card-list-item {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .card-list {
    margin: 0;
  }
  .card-list-item {
    flex: 0 0 100%;
  }
}

.card-list-item-figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.card-list-item-figure > img {
  transition: transform 1s ease;
  vertical-align: middle;
  width: 100%;
  /* Avoid flickering */
  backface-visibility: hidden;
}

.card-list-item-figure:hover > img {
  transform: scale(1.25);
}

.card-list-item-figure > figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20%;
  background-color: var(--half-black);
  visibility: hidden;
}

.card-list-item-figure:hover > figcaption {
  visibility: visible;
  animation: fadeInRight 1s 0s;
}

.card-list-item-figure > figcaption > a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-item-body {
  padding: 30px;
}

.card-list-item-body > .card-footer {
  border-top: 1px solid var(--light-black);
  margin-top: 16px;
  padding-top: 4px;
}

.card-list-item-body > .card-footer > .technologies > * {
  color: var(--main);
  margin: 4px 4px 0 4px;
}
