.card {
  display: block;
  width: 100%;
  border-radius: 2px;
  padding: 30px;
  margin-top: 26px;
  box-shadow: 0 3px 6px var(--shadows), 0 3px 6px var(--shadows);
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0 14px 28px var(--shadows), 0 10px 10px var(--shadows);
}

.card-title {
  margin-bottom: 4px;
}

.card-list {
  display: flex;
  flex-flow: row wrap;
  margin: 6px -20px -20px -20px;
}

.card-list-item {
  flex: 0 0 calc(33.33% - 40px);
  padding: 0;
  margin: 20px;
}

@media (max-width: 1024px) {
  .card-list-item {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .card-list {
    margin: 0;
  }

  .card-list-item {
    flex: 0 0 100%;
    margin: 20px 0;
  }
}

.card-list-item-figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.card-list-item-figure>img {
  transition: transform 1s ease;
  vertical-align: middle;
  width: 100%;
  /* Avoid flickering */
  backface-visibility: hidden;
}

.card-list-item-figure:hover>img {
  transform: scale(1.25);
}

.card-list-item-figure>figcaption {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--half-black);
}

.card-list-item-figure>figcaption>a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}

.card-list-item-body {
  padding: 30px;
}

.card-list-item-body>.card-footer {
  border-top: 1px solid var(--secondary);
  margin-top: 16px;
  padding-top: 4px;
}

.card-list-item-body>.card-footer>.technologies {
  color: var(--secondary);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}