/* Container div */

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "main";
}

/* Header section */


#header {
  grid-area: header;
  background-color: var(--primary);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 64px;
}

#header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 57rem;
  margin: 0 auto;
  padding: 0 2rem;
}


/* Logo and brand link styling */
#header-inner .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-align: left;
  transition: color 0.5s;
}

#header-inner .logo-link:hover,
#header-inner .logo-link:focus {
  color: var(--secondary);
  outline: none;
  transition: color 0.5s;
}

#header-inner .logo-link img {
  margin-right: 1rem;
  width: 40px;
  max-width: 40px;
  height: auto;
  display: block;
}

#header-inner .logo-link h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}

#header-inner .logo-link h1:before {
  content: '<';
  color: var(--secondary);
}

#header-inner .logo-link h1:after {
  content: '>';
  color: var(--secondary);
}

#header-inner nav {
  margin-left: auto;
  font-size: 1.2rem;
  line-height: 0rem;
  display: flex;
  align-items: center;
}

#header-inner nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
  margin-left: 0.5rem;
}

#header-inner nav ul li {
  list-style-type: none;
}

#header-inner nav ul li a {
  color: #fff;
  transition: color 0.5s;
  text-decoration: none;
}

#header-inner nav ul li a:hover,
#header-inner nav ul li a:focus {
  color: var(--secondary);
  outline: none;
}

/* Main section */

#main {
  grid-area: main;
  background-color: var(--background);
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main>section {
  animation: fadeInUp 0.5s;
  position: relative;
  margin: 3rem 0;
  max-width: 56.5rem;
  width: 100%;
  padding: 0 2rem;
}

#main>section>.section-title {
  color: var(--secondary);
  border-bottom: 3px solid var(--secondary);
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5rem;
}

#main>section>.section-title>.icon {
  padding-bottom: 0.25rem;
}