:root {
  --main: #223545;
  --secondary: #007E7E;
  --background: #fafafa;
  --half-black: rgba(0, 0, 0, 0.5);
  --third-black: rgba(0, 0, 0, 0.33);
  --light-black: rgba(0, 0, 0, 0.2);
  --half-white: rgba(255, 255, 255, 0.5);
  --third-white: rgba(255, 255, 255, 0.33);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

.hidden {
  display: none;
}

.highlight {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--main);
}

#stack-overflow-link:hover:after {
  display: block;
  position: absolute;
  content: url(https://stackoverflow.com/users/flair/4056222.png);
  animation: appear 0.5s 0s;
}

.doNotUseIE {
  display: none;
  padding: 20px;
  background-color: #f44336; 
  color: white;
  margin-bottom: 15px;
}
