:root {
  --main: #223545;
  --background: #fafafa;
  --half-black: rgba(0, 0, 0, 0.5);
  --third-black: rgba(0, 0, 0, 0.33);
  --light-black: rgba(0, 0, 0, 0.2);
  --half-white: rgba(255, 255, 255, 0.5);
  --third-white: rgba(255, 255, 255, 0.33);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}

.hidden {
  display: none;
}

#stack-overflow-link:hover:after {
  display: block;
  position: absolute;
  content: url(https://stackoverflow.com/users/flair/22656.png);
  animation: appear 0.5s 0s;
}
