.slider-container {
  width: 100%;
  background-color: var(--light-black);
  border-radius: 4px;
}

.slider {
  text-align: right;
  padding: 4px 8px;
  color: white;
  width: var(--width);
  background-color: var(--main);
  border-radius: 4px;
}

.slider-text {
  margin-top: 8px;
  margin-bottom: 2px;
}
